.backdrop {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.converter__wrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.title__wrapper {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.title {
  font-size: 8em;
  color: var(--secondary);
}

.file__name {
  font-size: 0.7rem;
  color: var(--info);
}

.border--left {
  border-left: 1px solid var(--secondary);
}

.upload__notif {
  background-color: var(--info);
  padding: 0.5rem 0;

  p {
    font-size: 1.3rem;
    color: var(--secondary);
  }
}

.gif__preview {
  width: 100%;
}

.preview__note {
  margin-top: 1rem;
  font-size: 0.75rem;
}
